# Dependabot will run on day 13 of each month at 01:11 (Europe/Berlin timezone)
version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "11 1 13 * *"
    open-pull-requests-limit: 15
    assignees:
      - "nograx"
    versioning-strategy: "increase"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "11 1 13 * *"
    open-pull-requests-limit: 15
    assignees:
      - "nograx"
